@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap');

body{
    font-family: 'Poppins', sans-serif;
    background-color: blueviolet;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 90vh;
}
.wrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #ffff;
    padding: 2rem;
    border-radius: 13px;
}
.wrapper p{
    margin-bottom: 0;
    margin-top:1rem;
}
.wrapper header{
    font-size: 1.8rem;
    text-align: center;
}
.wrapper input , select{
    width: 100%;
    font-size: 1.2rem;
    height: 5vh;
}
.exchange-rate{
    text-align: center;
    font-size: 1.2rem;
}
.wrapper button{
    width: 100%;
    height: 5vh;
    color: #fff;
    background-color: blueviolet;
    font-size: 1.2rem;
    border: none;
    border-radius: 6px;
    margin-top: 1rem;
}
.wrapper button:hover{
    background-color: #fff;
    color: blueviolet;
    border: 1px solid blueviolet;
}